<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVID-19</title>
</head>
<body>
    <h1>Belgium hospital capacity DO</h1>
    <ul>
  <li>use layers to select date</li>
  <li>click on location pin to view province name</li>
  <li>hover over transfer line to view number of patients to be transferred</li>
</ul>
    <table style="width:100%">
        <tr>
            <th>Scenario 1</th>
            <th>Scenario 2</th>
            <th>Scenario 3</th>
        </tr>
        <tr>
            <td><iframe class="map", src="/map?scenario_id=scenario_1" width="600" height="600"></iframe></td>
            <td><iframe class="map", src="/map?scenario_id=scenario_2" width="600" height="600"></iframe></td>
            <td><iframe class="map", src="/map?scenario_id=scenario_3" width="600" height="600"></iframe></td>
        </tr>
    </table>
</body>
</html>